body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: #c4bebe;
    margin: 0;
    padding: 20px;
    font-size: 20px;
}
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
    font-size: 20px;
}
input[type="submit"]:hover {
    background-color: #4589a0;
}